<form action="/register" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="password" name="confirm">
    <input type="submit" value="register">
</form>
<a href="/login">login page</a>
{{#if message}}
<p>{{message}}</p>
{{/if}}
<script "text/javascript">
    
</script>