<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bbb" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:history.back()" class="navbar-brand">
                    <span></span>Back</a>
            </div>
            <div class="collapse navbar-collapse" id="bbb">
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                    <li>
                        <a href="/changepassword">Password Change</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/login">Log in</a>
                    </li>
                    {{/if}}
                     <li>
                        <a href="/register">Sign up as Customer</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    {{!-- <div class="container">
        <div class="jumbotron">
            <form action="/changepassword" method="POST">
                <tr>
                    <td>username</td>
                    <td>
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>
                        <input type="password" name="password">
                    </td>
                </tr>
                <tr>
                    <td>new_password</td>
                    <td>
                        <input type="password" name="new_password">
                    </td>
                </tr>
                <tr>
                    <td>confirm new_password</td>
                    <td>
                        <input type="password" name="confirm">
                    </td>
                </tr>
                <tr>
                    <td>question</td>
                    <td>
                        <select id="select_change" name="question">
                        <option value="color">What color do you like? </option>
                        <option value="food">What is your favorate food?</option>
                        <option value="birthday">When is your birthday?</option>
                        <option value="lucky">What is your lucky number?</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>answer</td>
                    <td><input type="text" name="answer"></td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <input type="submit" value="submit">
                    </td>
                </tr>
            </form>
        </div>
    </div> --}}
    {{!-- {{#if error}}
    <p>{{error}}</p>
    {{/if}} --}}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {{!-- <h1>Sign In</h1> --}}
        {{#if error}}
            <div class="alert alert-danger">
            <p>{{error}}</p>
            </div>
        {{/if}}

        <form action="/changepassword" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="philbarrassi" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Your Password" class="form-control">
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="new_password" placeholder="Your Password" class="form-control">
            </div>
            <div class="form-group">
                <label>Confirm</label>
                <input type="password" name="confirm" placeholder="Your Password" class="form-control">
            </div>
            <div class="form-group">
                <label>Question</label>
                <select id="select_change" name="question">
                        <option value="color">What is your favorite color? </option>
                        <option value="food">What is your favorite food?</option>
                        <option value="birthday">When is your birthday?</option>
                        <option value="lucky">What is your lucky number?</option>
                    </select>
            </div>
            <div class="form-group">
                <label>Answer</label>
                <input type="text" name="answer" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" value ="submit">Submit</button>
        </form>
    </div>
</div> 












    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>