<section>


<form action="/result" method="POST" class="new-post-form">
        <div class='order_now' id='order_now'>
        
        </div>

        

<div class='toatl_price_dom' id='total_price'></div>
<button type='submit' class='checkout-button' id='checkout_upload'>Submit</button>
 
</form>

</section>