<section>
  {{!-- test api --}}




  <div class='order_now' id='order_now'>
  
  </div>

<div class='toatl_price_dom' id='total_price'></div>
  <button type='submit' id='place_order' class='place_order'>Submit</button>


</section>